langchain
langgraph
langchain-openai
fastapi
uvicorn
slowapi
pyyaml
pydantic
python-dotenv
requests
httpx
chromadb
tiktoken
langchain_community
langchain-text-splitters
fastembed
langchain_chroma
tqdm
gradio
rank-bm25
