langchain
langgraph
langchain-openai
fastapi
uvicorn
slowapi
pyyaml
pydantic
python-dotenv
requests
chromadb
tiktoken
unstructured[md]
langchain_community
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain_chroma
tqdm